.home
  position: absolute
  z-index: 1000
  height: 100%
  width: 100%
  text-align: center
.home__row
  min-height: 100px
  display: inline-block
  width: 90%
.home__map
  height: 100%
  width: 100%
