.video-quiz
  position: fixed
  top: 40%
  left: 40%
  z-index: 1000
  background: white
  padding: 20px
  border-radius: 20px
  border: 1px solid black

.quiz
  &__question
    background: #eee
    padding: 20px
    border-radius: 30px
  &__answer
    cursor: pointer
    background: #efe
    margin-top: 5px
    padding: 5px 20px
    border-radius: 15px
    &:hover
      background: #ddd

