doctype html
html lang="ru"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, maximum-scale=1, minimal-ui"
    title
      - if content_for?(:title)
        = yield :title
      - else
        = page_title
    = yield :meta
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    = favicon_link_tag '/favicon.png', rel: 'apple-touch-icon', type: 'image/png'
    = stylesheet_link_tag *webpack_asset_paths('npm', extension: 'css', ignore_missing: true)
    = stylesheet_link_tag *webpack_asset_paths('application', extension: 'css')
    javascript:
      window.locale = "#{I18n.locale}";
    = javascript_include_tag *webpack_asset_paths('application', extension: 'js')
    = javascript_include_tag *webpack_asset_paths('npm', extension: 'js')

  body
    = render 'blocks/header'
    main.main
      = render 'shared/messages'
      = yield
    = render 'blocks/footer'
